CCFS Tickets/pkgs/Wadl/ProcessTicketData_Add_Attachments_Asset.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="ProcessTicketData_Add_Attachments_Asset" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="ProcessTicketData_Add_Attachments_Asset" />
  <grammars>
    <jsonTypes targetNamespace="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_TicketID_Inputs_def" />
      <string name="ManualTriggerInput_Createfile2_FileName_def" />
      <string name="ManualTriggerInput_Createfile2_FileContent_def" />
      <object name="ManualTriggerInput">
        <property name="TicketID_Inputs" type="string" />
        <property name="Createfile2_FileName" type="string" />
        <property name="Createfile2_FileContent" type="string" />
      </object>
      <string name="ResponseActionOutput_status_def" />
      <object name="ResponseActionOutput">
        <property name="status" type="string" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://msmanaged-na.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="TicketID_Inputs" path="/TicketID_Inputs" type="xs:string" required="true" />
            <param style="plain" name="Createfile2_FileName" path="/Createfile2_FileName" type="xs:string" required="true" />
            <param style="plain" name="Createfile2_FileContent" path="/Createfile2_FileContent" type="xs:string" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>